<a href="https://colab.research.google.com/github/mayank-deeds/nlp-projects/blob/main/Copy_of_pandas_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# pd is a package
# series is a class
# series() is the default constructor of theat class
# pd.Series()

In [ ]:
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

The first argument to the Series constructor is an iterable object whose values
will populate the Series. We can pass various inputs, including lists, dictionaries, tuples, and NumPy ndarrays.

In [ ]:
# pd.Series(any_list_name)
# Notice that pandas preserves the order of the strings from the input list.
# A parameter is a name given to an expected input to a function or method
# Adefault argument is a fallback value that Python uses if we do not provide an argumentfor the parameter.
#
#
#
#
#

If we do not pass a value for the name parameter, for example,
Python will use None. A parameter with a default argument is inherently optional. It
will always have some argument, either explicitly from its invocation or implicitly from
its definition. We were able to instantiate a Series without arguments earlier because
all six of its constructor’s parameters are optional

The Series constructor’s first parameter, data, expects the object whose values
will populate the Series. If we pass arguments to the constructor without parameter
names, Python will assume that we are passing them sequentially

We can connect parameters and arguments explicitly with keyword arguments (see
appendix B)

Enter the parameter, followed by an equal sign and its argument. In the
following example, the first line uses positional arguments, and the second one uses

keyword arguments, but the result is the same:
In [4] # The two lines below are equivalent
pd.Series(ice_cream_flavors)
pd.Series(data = ice_cream_flavors)
Out [4] 0 Chocolate
1 Vanilla
2 Strawberry
3 Rum Raisin
dtype: object

Keyword arguments are advantageous because they provide context for what each
constructor argument represents. The second line in the example better communicates that ice_cream_flavors represents the data for the Series

In [ ]:
import numpy as np

In [ ]:
pd.Series()

In [ ]:
lucky_numbers = [4, 8, 15, 16,np.nan, 23, 42]
pd.Series(lucky_numbers)

0     4.0
1     8.0
2    15.0
3    16.0
4     NaN
5    23.0
6    42.0
dtype: float64

In [ ]:
# A dictionary is a collection of key-value pairs (see appendix B). When passed a dictionary, the constructor sets each key as a corresponding index label in the Series

In [ ]:
calorie_info = {
"Cereal": 125,
"Chocolate Bar": 406,
"Ice Cream Sundae": 342,
}
diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [ ]:
# A tuple is an immutable list. We cannot add, remove, or replace elements in a tuple after creating it (see appendix B)

In [ ]:
s=pd.Series(data = ("Red", "Green", "Blue"))

In [ ]:
# A set is an unordered collection of unique values. We can declare it with a pair of curly braces, 
# exactly like a dictionary. Python uses the presence of key-value pairs to distinguish between the two data structures (see appendix B)

In [ ]:
s

0      Red
1    Green
2     Blue
dtype: object

In [ ]:
s.values

array(['Red', 'Green', 'Blue'], dtype=object)

In [ ]:
type(s.values)

numpy.ndarray

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
type(s.index)

pandas.core.indexes.range.RangeIndex

In [ ]:
s.dtype

dtype('O')

In [ ]:
s

0      Red
1    Green
2     Blue
dtype: object

In [ ]:
s.dtype

dtype('O')

In [ ]:
s.size

3

In [ ]:
# The complementary shape attribute returns a tuple with the dimensions of a pandas
# data structure. For the one-dimensional Series, the tuple’s only value will be the
# Series’ size. The comma after the 3 is a standard visual output for one-element
# tuples in Python

s.shape

(3,)

In [ ]:
# The is_unique attribute returns True if all Series values are unique:
s.is_unique

True

In [ ]:
# this is simply a new series with a list of 2 numbers 3 and 3 idiot 
s2=pd.Series(data = [3, 3])

In [ ]:
s2

0    3
1    3
dtype: int64

In [ ]:
s2.is_unique

False

In [ ]:
# The is_monotonic attribute returns True if each Series value is greater than the
# previous one
 pd.Series(data = [1, 3, 6]).is_monotonic

True

In [ ]:
# Series attributes such as size, shape, values, and index.
#  Attributes define an object’s state,
# and methods define an object’s behavior

In [ ]:
# The range function’s three arguments are a lower bound, the upper bound, and a step
# sequence (the interval between every two numbers).

In [ ]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [ ]:
#

methods inside series class:
head()-tail()

In [ ]:
# The count method counts the number of non-null values:

numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers.count()

5

In [ ]:
# Most mathematical methods ignore missing values by default. 
# We can pass an argument of False to the skipna parameter to force the inclusion of missing values.
numbers.sum()

15.0

In [ ]:
numbers.sum(skipna = False, min_count = 5)

nan

In [ ]:
numbers.sum(skipna = True, min_count = 5)

15.0

In [ ]:
# The cumsum (cumulative sum) method returns a new Series with a rolling sum of values.
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

Each index position holds the sum of values up to and including the value at
that index. A cumulative sum helps determine which values contribute most to the
total:

In [ ]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

The pct_change (percent change) method returns the percentage difference from
one Series value to the next. At each index, pandas adds the last index’s value and
the current index’s value and then divides the sum by the last index’s value. Pandas
can calculate a percentage difference only if both indexes have valid values.
The pct_change method defaults to a forward-fill strategy for missing values. With
this strategy, pandas replaces a nan with the last valid value it encountered. Let’s
invoke the method and then walk through the calculations

In [ ]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [ ]:
numbers.nunique()

5